.card__container{
    background: whitesmoke;
    height: 300px;
    width: 200px;

    
    border-radius: 15px;
    margin: 0.2rem;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    
}

img{
    height: 250px;
    
    width: 200px;

    overflow: hidden;
    border-radius: 15px;
}
.card__items{
    align-items: center;
    height: 300px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    

}

.card{
    

    gap: 5rem;
    margin: 10px;
}
p{
    margin: 0.2rem;
}