.card__container{
    background: whitesmoke;
    height: 300px;
    width: 220px;

    
    
    margin: 0.2rem;

    
}

img{
    height: 250px;
    
    width: 200px;

    overflow: hidden;
    border-radius: 0px;
    margin: 0 auto;
}
.card__items{
    align-items: center;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
    
    

}

.card{
    height: 300px;
    width: 200px;
    gap: 5rem;
    margin: 10px;

}
p{
    margin: 0.1rem;
    font-size: 0.8rem;
}